@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>NewBiz Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NewBiz - v4.7.0
    * Template URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between">

            <div class="logo">
                <!-- Uncomment below if you prefer to use an text logo -->
                 <h1><a href="index.html">Fixability</a></h1> 
                @*<a href="index.html"><img src="~/assets/img/fixalitylogo.png" alt=""></a>*@
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">Sobre Nosotros</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- #header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="clearfix">
        <div class="container" data-aos="fade-up">

            <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="assets/img/hero-img.svg" alt="" class="img-fluid">
            </div>

            <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
                <h2>¡Proporcionamos<br><span>soluciones</span><br>para tu empresa!</h2>
                <div>
                    <a asp-controller="Users" asp-action="Index" class="btn-get-started scrollto">Iniciar Sesión</a>
                    <a asp-controller="Manage" asp-action="Register" class="btn-services scrollto">Registrarse</a>
                </div>
            </div>

        </div>
    </section><!-- End Hero Section -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about">
            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h3>Sobre Nostros</h3>
                    <p>Usar un sistema o herramienta de ticketing para categorizar las demandas de los clientes conforme vayan surgiendo puede mejorar la velocidad y la calidad del proceso de resolución de incidentes.</p>
                </header>

                <div class="row about-container">

                    <div class="col-lg-6 content order-lg-1 order-2">
                        <p>
                            Identifican las incidencias recurrentes y simplifica el servicio posventa. Localizar incidencias recurrentes con el apoyo de un sistema de atención al cliente tiene muchos beneficios para el consumidor.
                        </p>

                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="bi bi-card-checklist"></i></div>
                            <h4 class="title"><a href="">Mejor servicio priorizando niveles de urgencia</a></h4>
                            <p class="description">Estos sistemas están diseñados para poder seleccionar el nivel de urgencia de cada incidencia que se reciba. De esta manera la atención al cliente resulta más eficiente al poder priorizar aquellos casos donde el tiempo es un factor determinante en la satisfacción final del cliente al recibir una respuesta rápida y adecuada.</p>
                        </div>

                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="bi bi-brightness-high"></i></div>
                            <h4 class="title"><a href="">Mayor número de tickets resueltos</a></h4>
                            <p class="description">Esto supone que la vida media de cada ticket es menor que si se hiciera de manera manual la asignación de recursos para la incidencia. Lo que significa ser capaces de resolver más tickets en menos tiempo y así reducir el tiempo de espera hasta ser atendido un cliente.</p>
                        </div>

                        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                            <h4 class="title"><a href="">Detecta las incidencias más frecuentes por los clientes</a></h4>
                            <p class="description">Al pasar todos los tickets por la herramienta, se pueden detectar fácilmente cuales son los problemas más frecuentes a los que el departamento de atención al cliente se enfrenta. Algo que permite crear un plan de acción para reducir en el futuro esas zonas de conflicto.</p>
                        </div>

                    </div>

                    <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
                        <img src="assets/img/about-img.svg" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="row about-extra">
                    <div class="col-lg-6" data-aos="fade-right">
                        <img src="assets/img/about-extra-1.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
                        <h4>¿Cómo contribuye un sistema de ticketing a la gestión de clientes?</h4>
                        <p>
                            Una herramienta de ticketing genera un ticket por cada consulta que se realiza en el servicio de atención. Este sistema procesa, clasifica, administra, gestiona, automatiza y organiza las entradas, y cuando se resuelve la incidencia, cierra la consulta.
                        </p>
                        <p>
                            Este no es un dato menor, ya que las empresas que vinculan un mayor volumen de datos de los clientes observan resoluciones un 36% más rápidas y una reducción del 79% en los tiempos de espera.
                        </p>
                    </div>
                </div>

                <div class="row about-extra">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                        <img src="assets/img/about-extra-2.svg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
                        <h4>¿Qué es el ticketing?</h4>
                        <p>
                            Un sistema de ticketing es un software que organiza las solicitudes de los usuarios a través de la clasificación de datos y generación de solicitud de soporte. Sirve para optimizar el tiempo de resolución de los problemas y mejorar la experiencia del cliente.
                        </p>
                        <p>
                            Una gran ventaja del ticketing es que el comprador no tiene que repetir información. Con esta herramienta se pone en valor el tiempo del cliente y esto ayuda a aumentar la sensación de pertenencia a la comunidad de la empresa, lo que aumentará la probabilidad de continúe eligiendo a la marca.
                        </p>
                        <p>
                            A la hora de analizar la atención al cliente, más del 40% de los clientes encuestados considera que perder tiempo en repetir la información es uno de los aspectos más frustrantes de una mala experiencia como comprador, según el estudio de Zendesk mencionado anteriormente.
                        </p>
                    </div>

                </div>

            </div>
        </section><!-- End About Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3>FIXABILITY</h3>
                        <p>Hemos visto qué es el ticketing, sus principales funciones y cuáles son las ventajas de utilizar un sistema de gestión de clientes. Pero si todavía tienes curiosidad por saber cómo funciona el flujo dentro de un software como este, aquí encontrarás los pasos principales. ¡Echa un vistazo!</p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Links</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Sobre Nosotros</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contactanos</h4>
                        <p>
                            Calle Hola <br>
                            TAJAMAR<br>
                            MADRID <br>
                            <strong>Telefono:</strong> +1 555 555 555<br>
                            <strong>Email:</strong> info@ejemplo.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>FIXABILITY</strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>