<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
            <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h1>Servicios</h1>
          <p>Una herramienta o sistema de tickets convierte en tickets todas las solicitudes entrantes de los clientes provenientes de diferentes canales. Desde el sistema de tickets es más fácil priorizar, realizar un seguimiento y monitorizar las interacciones y solicitudes de los clientes desde un único lugar. Esto ayuda a su equipo de soporte al cliente a comunicarse mejor con sus clientes y a gestionar los problemas de manera más eficiente, ya que con una herramienta de estas características se pueden agrupar y categorizar los tickets para decidir cómo responderle a cada cliente.</p>
        </header>

        <div class="row justify-content-center">

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Eficiencia</a></h4>
              <p class="description">Un sistema de tickets es mucho más eficiente que los correos electrónicos. Le ayuda a categorizar, priorizar y asignar tickets automáticamente sin tener que usar estructuras complejas de carpetas y códigos de colores.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Cumplimiento de plazos</a></h4>
              <p class="description">Una solución de la gestión de tickets de helpdesk puede establecer políticas de SLA y comprobar que sus agentes cumplan con los plazos de resolución de los problemas. Si una solicitud no se cierra antes de la fecha límite, escalará a los gerentes de soporte.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-bar-chart" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Facilidad de uso</a></h4>
              <p class="description">Con una herramienta de ticketing, los clientes pueden tener una amplia variedad de recursos de autoservicio. Esto les permitirá encontrar fácilmente la solución que buscan sin la necesidad de contactar al equipo de soporte. Por lo tanto, la base de conocimientos es muy útil para reducir el volumen de tickets.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Servicio de calidad</a></h4>
              <p class="description">Con la ayuda de unos sistemas de gestión de tickets de alta calidad, usted también puede asegurarse de que no haya múliples agentes de soporte trabajando en una misma consulta y de que estos no saturen a los clientes con varias respuestas.</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->
    </section>
</div>